{% extends "layout.html" %}

{% block content %}
<br />
<br />
<br />
<br />
Visit the API at https://faucethut.trooperz.repl.co/api_[data]
<br />
<br />
The API returns all of the faucet data in heap using a single GET request. Balances are updated per request, last transaction is updated every 5 minutes (upon a request), and uptime is updated every hour (upon a request)
<br />
<br />
To get faucet data, go to /api_faucet
<br />
To get game data, go to /api_game
<br />
To get JungleTV data, go to /api_jtv (soon)
<br />
<br />
limits: 69000 per day, 420 per hour, per IP

{% endblock %}


